.field{
    display: block;
    margin-right: 5px;;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;;
    background-color: aqua;
}

#qnumber, #qright{
    float: right;
    margin: 15px;
}

.logo{
    display: inline-block;
}

.entry{
    display: inline-block;
}

#question{
    display: block;
    text-align: center;
}

.box{
    background-color: brown;
}

body{
    background-image: url("pictures/bg.png"); 
    /*background-size: 200%; */
    background-position: right; 
    height: 200%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    
}

.button{
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 50px;
    width: 180px;
}
.survey{
    position: relative;
    padding-bottom: 55px;
}

@media screen and (min-width: 600px){
    .field{
        margin-right: 100px;
        margin-left: 100px;
    }
    .button{
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .survey{
        padding-bottom: 20px;
    }
}
