.field{
    display: block;
    margin-right: 5px;;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;;
    background-color: rgb(104,145,242);
    border-radius: 7px;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#Pokemon{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#qnumber, #qright{
    float: right;
    margin: 15px;
    color : darkslategray;
    border: 4px solid rgb(104,145,242);
    padding: 5px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    display: inline;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    display: inline-block;
}

.entry{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    
}

#question{
    display: block;
    text-align: center;
    margin: 15px;
    color : darkslategray;
    font-family: Arial, Helvetica, sans-serif;

}

/*.box{
    
    background-image: linear-gradient(rgb(127, 200, 223),rgb(104,145,242));
}
*/
body{
    background-image: url("pictures/bg.png"); 
    /*background-size: 200%; */
    background-position: right; 
    height: 200%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    
}

.button{
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 50px;
    width: 180px;
    background-color: rgb(235, 84, 74);
    border-radius: 7px;
    font-size: 20px;
    color: white; 
}
.survey{
    position: relative;
    padding-bottom: 55px;
}

@media screen and (min-width: 600px){
    .field{
        margin-right: 100px;
        margin-left: 100px;
    }
    .button{
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .survey{
        padding-bottom: 20px;
    }
}
